<template name="header">
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid"> 
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	    <ul class="nav navbar-nav navbar-left">
	    	<a class="navbar-brand" href="/">Kopaj bet</a>
	            <li><a href="/">Kezdőlap</a></li>
	            <li><a href="/about">Kapcsolat</a></li>
	    </ul>
	    	 
	    {{#if currentUser}}
	    	{{> loggedIn}}
	    {{else}}
	    	{{> register}}
	    {{/if}}
	      
	    </div>
	  </div>
	</nav>
</template>

