<template name="header">
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid"> 
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	    <ul class="nav navbar-nav navbar-left">
	    	<a class="navbar-brand" href="#">Project name</a>
	            <li class="active"><a href="#">Home</a></li>
	            <li><a href="#about">About</a></li>
	            <li><a href="#contact">Contact</a></li>
	    </ul>
	    	 

	      <ul class="nav navbar-nav navbar-right">
	     	<form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
			        <input type="text" class="form-control" placeholder="Username">
			        <input type="password" class="form-control" placeholder="Password">
			        <button type="submit" class="btn btn-default">Log in</button>
			        <button  class="btn btn-default">Sign Up</button>
		        </div>
	      	</form>
	      </ul>
	    </div>
	  </div>
	</nav>
</template>

